@{

    Layout = "Layout";

    ViewData["Title"] = "Página Inicial";
}

<div class="planilha">
    <input type="text" id="name" placeholder="Nome"/>
    <input type="date" id="expDate" placeholder=""/>
    <input type="number" id="pricePer100G" placeholder="Preço (p/100 gramas)"/>
    <input type="number" id="quantity" placeholder="Quantidade (em gramas)"/>
    <button onclick="getValues()">Cadastrar</button>
</div>