@{

    Layout = "Layout";

    ViewData["Title"] = "Página Inicial";
}

<h1>A_granel istoqui meniger</h1>
<input type="text" id="name"/>
<input type="date" id="expDate"/>
<input type="number" id="pricePer100G"/>
<input type="number" id="quantity"/>
<button onclick="getValues()">criar produto</button>